BloomTech Data Science

*Unit 2, Sprint 3, Module 2*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [ ]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [ ]:
# Read New York City property sales data
import pandas as pd
!pip install pandas-profiling
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.7/dist-packages (2.13.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.1.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.21.5)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.5.0)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (3.2.2)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (21.4.0)
Requirement already satisfied: phik>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.12.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.6 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.2.0)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (4.62.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.3.5)
Requirement already satisfied: confuse>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.7.0)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: visions[type_image_path]==0.7.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.7.1)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.7.3)
Requirement already satisfied: requests>=2.24.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.27.1)
Requirement already satisfied: seaborn>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: bottleneck in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.3.2)
Requirement already satisfied: multimethod==1.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.4)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (2.6.3)
Requirement already satisfied: imagehash in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (4.2.1)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (7.1.2)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from confuse>=1.0.0->pandas-profiling) (3.13)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->pandas-profiling) (2.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.2.0->pandas-profiling) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling) (2.0.12)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.1->pandas-profiling) (1.2.0)

Your code starts here:

In [ ]:
# Change column names: replace spaces with underscores
cols = ['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE']
use_cols = []
for i in cols:
  if " " in i:
    use_cols.append(i.replace(' ','_'))
  else:
    use_cols.append(i)
print(use_cols)

df.columns = use_cols

['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY', 'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT', 'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE', 'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS', 'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT', 'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE', 'SALE_PRICE', 'SALE_DATE']

In [ ]:
# Get Pandas Profiling Report
from pandas_profiling import ProfileReport
#ProfileReport(df).to_notebook_iframe()

In [ ]:
# Keep just the subset of data for the Tribeca neighborhood
# Check how many rows you have now. (Should go down from > 20k rows to 146)
df = df[df['NEIGHBORHOOD']=='TRIBECA']

In [ ]:
# Q. What's the date range of these property sales in Tribeca?
begin,*_,end = df['SALE_DATE']
print(begin,end)

01/03/2019 04/30/2019

In [ ]:
# The Pandas Profiling Report showed that SALE_PRICE was read as strings
# Convert it to integers
df['SALE_PRICE'] = df['SALE_PRICE'].str.replace('$','').str.replace('-','').str.replace(',','').astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# Q. What is the maximum SALE_PRICE in this dataset?
maximumsaleprice = df['SALE_PRICE'].max()
maximumsaleprice

260000000

In [ ]:
# Look at the row with the max SALE_PRICE
df[df['SALE_PRICE'] == maximumsaleprice]

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
6499        1      TRIBECA  ...  260000000  02/01/2019

[1 rows x 21 columns]

In [ ]:
# Get value counts of TOTAL_UNITS
# Q. How many property sales were for multiple units?
df['TOTAL_UNITS'].value_counts().sum() 
df['TOTAL_UNITS'].value_counts().value_counts()[1:].sum()

2

In [ ]:
# Keep only the single units
df = df[df['TOTAL_UNITS'] == 1]

In [ ]:
# Q. Now what is the max sales price? How many square feet does it have?
df['SALE_PRICE'].max()

39285000

In [ ]:
# Q. How often did $0 sales occur in this subset of the data?
df1 = df[df['SALE_PRICE'] == 0]
df1['SALE_PRICE'].value_counts()
# There's a glossary here: 
# https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page

# It says:
# A $0 sale indicates that there was a transfer of ownership without a 
# cash consideration. There can be a number of reasons for a $0 sale including 
# transfers of ownership from parents to children.

0    15
Name: SALE_PRICE, dtype: int64

In [ ]:
# Look at property sales for > 5,000 square feet
# Q. What is the highest square footage you see?
df2 = df[df['GROSS_SQUARE_FEET'] > 5000]
df2['GROSS_SQUARE_FEET'].max()

39567.0

In [ ]:
# What are the building class categories?
# How frequently does each occur?
df2['BUILDING_CLASS_CATEGORY'].unique()
df2['BUILDING_CLASS_CATEGORY'].value_counts()

15 CONDOS - 2-10 UNIT RESIDENTIAL    2
13 CONDOS - ELEVATOR APARTMENTS      1
Name: BUILDING_CLASS_CATEGORY, dtype: int64

In [ ]:
# Keep subset of rows:
# Sale price more than $0, 
# Building class category = Condos - Elevator Apartments
df3 = df[(df['SALE_PRICE']>0) & (df['BUILDING_CLASS_CATEGORY'] == '13 CONDOS - ELEVATOR APARTMENTS')]
# Check how many rows you have now. (Should be 106 rows.)
df3

       BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
220          1      TRIBECA  ...    2800000  01/03/2019
763          1      TRIBECA  ...    2650000  01/07/2019
1276         1      TRIBECA  ...    1005000  01/09/2019
1543         1      TRIBECA  ...    1678000  01/10/2019
1855         1      TRIBECA  ...    1380000  01/11/2019
...        ...          ...  ...        ...         ...
22221        1      TRIBECA  ...    5761259  04/24/2019
22732        1      TRIBECA  ...    2600000  04/29/2019
22733        1      TRIBECA  ...     605000  04/29/2019
22897        1      TRIBECA  ...     960000  04/30/2019
22898        1      TRIBECA  ...     975000  04/30/2019

[106 rows x 21 columns]

In [ ]:
# Make a Plotly Express scatter plot of GROSS_SQUARE_FEET vs SALE_PRICE
import plotly.express as  px 

fig = px.scatter(df3, x="GROSS_SQUARE_FEET", y="SALE_PRICE",trendline='ols')
fig.show()

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# Add an OLS (Ordinary Least Squares) trendline,
# to see how the outliers influence the "line of best fit"

In [ ]:
# Look at sales for more than $35 million
df3[df3['SALE_PRICE'] > 35000000]
# All are at 70 Vestry Street
# All but one have the same SALE_PRICE & SALE_DATE
# Was the SALE_PRICE for each? Or in total?

#I think its safe to assume that the sale price was a total but as far as the data goes we cant make that assumption without a guarantee 

# Is this dirty data?
# yes, we could divide the total evenly across each supposed sale but we would need a confirmation that that was the case before we made any changes

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
8370        1      TRIBECA  ...   36681561  02/12/2019
8371        1      TRIBECA  ...   36681561  02/12/2019
8372        1      TRIBECA  ...   36681561  02/12/2019
8373        1      TRIBECA  ...   36681561  02/12/2019
8374        1      TRIBECA  ...   36681561  02/12/2019
8375        1      TRIBECA  ...   36681561  02/12/2019
8376        1      TRIBECA  ...   36681561  02/12/2019
8377        1      TRIBECA  ...   36681561  02/12/2019
8378        1      TRIBECA  ...   36681561  02/12/2019
8379        1      TRIBECA  ...   36681561  02/12/2019
8380        1      TRIBECA  ...   36681561  02/12/2019
8381        1      TRIBECA  ...   36681561  02/12/2019
8382        1      TRIBECA  ...   36681561  02/12/2019
8383        1      TRIBECA  ...   36681561  02/12/2019
8384        1      TRIBECA  ...   36681561  02/12/2019
9236        1      TRIBECA  ...   39285000  02/15/2019

[16 rows x 21 columns]

In [ ]:
# Make a judgment call:
# Keep rows where sale price was < $35 million
df3 = df3[df3['SALE_PRICE'] < 35000000]
# Check how many rows you have now. (Should be down to 90 rows.)
df3

       BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
220          1      TRIBECA  ...    2800000  01/03/2019
763          1      TRIBECA  ...    2650000  01/07/2019
1276         1      TRIBECA  ...    1005000  01/09/2019
1543         1      TRIBECA  ...    1678000  01/10/2019
1855         1      TRIBECA  ...    1380000  01/11/2019
...        ...          ...  ...        ...         ...
22221        1      TRIBECA  ...    5761259  04/24/2019
22732        1      TRIBECA  ...    2600000  04/29/2019
22733        1      TRIBECA  ...     605000  04/29/2019
22897        1      TRIBECA  ...     960000  04/30/2019
22898        1      TRIBECA  ...     975000  04/30/2019

[90 rows x 21 columns]

In [ ]:
# Now that you've removed outliers,
# Look again at a scatter plot with OLS (Ordinary Least Squares) trendline
fig = px.scatter(df3, x="GROSS_SQUARE_FEET", y="SALE_PRICE",trendline='ols')
fig.show()

In [ ]:
# Select these columns, then write to a csv file named tribeca.csv. Don't include the index.
df3.reset_index(inplace=True)
df3.to_csv('tribeca.csv')